.DS_Store
Users/aszulzik/Documents/Gen/exercicios/generationJava/.idea/
Users/aszulzik/Documents/Gen/exercicios/generationJava/generationJava.iml
Users/aszulzik/Documents/Gen/exercicios/generationJava/out/